.zoom:hover img {
  transform: scale(1.1);
}

.container {
  position: relative;
}
.bg-pink-600 {
  background-color: #ff3066 !important;
}

.bg-pink-700 {
  background-color: #ff3066 !important;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #070707e0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: 0.3s ease;
}

.container:hover .overlay {
  transform: scale(1);
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
