html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-black-background {
  background-color: #000000 !important;
}

::-webkit-scrollbar {
  background-color: #db2777;
  width: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #db2777;
  border-radius: 50px;
  box-shadow: rgb(255, 255, 255);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bc135f;
}

.progress-bar-circ-container {
  margin: auto;
}

@layer components {
  .bg-black {
    @apply bg-black-background opacity-90;
  }
}
